body {
  background: aliceblue;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  color: #4b4c4c;
}

.chart-container {
  width: 700px;
  padding: 30px;
}
h1 {
  letter-spacing: 6px;
  font-size: 45px;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 20px;
}
